body {
  font-family: "Helvetica Neue", Helvetica;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4rem;
  margin: 0 auto;
  max-width: 768px;
  color: #222;
}

#content {
  margin: 1rem;
}

ul {
  padding-top: 10px;
  padding-bottom: 50px;
}

li {
  padding-left: 10px;
}

h1 {
  font-size: 4rem;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
}

h1,
h2 {
  line-height: 2rem;
}

img.logo {
  width: 4rem;
}

.username a,
.username a:visited {
  color: #222;
  text-decoration: none;
}

a,
a:visited {
  color: #009a64;
}
